.features {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
  }
  margin: 0 auto;
}

.features__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $secondary-background-color;
  border-radius: 4px;

  height: 120px;

  margin-bottom: 30px;
}

.features__item {
  @include for-size(tablet) {
    width: calc(50% - 15px);
  }

  @include for-size(desktop) {
    width: calc(25% - 22.5px);
  }
}

.features__item:not(:last-child) {
  @include for-size(mobile-only) {
    margin-bottom: 30px;
  }
}

.features__title {
  @include for-size(mobile-only) {
    text-align: center;
  }
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: $primary-text-color;
}
