.work__list {
  display: flex;

  gap: 30px;
}

.work__item {
  position: relative;
}

.work__text {
  position: absolute;

  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-white-color;
}
