.features_list {
  display: flex;

  gap: 30px;
}

.features__icon {
  width: 270px;
}

.features__icon--background {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $secondary-background-color;
  border-radius: 4px;

  height: 120px;

  margin-bottom: 30px;
}

.features__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: $primary-text-color;
}
