.hero {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);

  width: 700px;

  margin: 0 auto;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $primary-white-color;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  margin-top: 30px;

  padding: 10px 32px;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  color: $primary-white-color;

  transition: background-color 250ms $cubic-bezier;

  &:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
