.socials {
  display: flex;

  gap: 10px;

  margin-top: 16px;
}

.socials__link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  transition: background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $accent-color;

    .socials__icon {
      fill: $primary-white-color;
    }
  }
}

.footer-socials {
  @include for-size(mobile-only) {
    margin-bottom: 60px;
  }
  @include for-size(tablet-only) {
    text-align: center;
  }
}

.socials__icon {
  fill: $icon-color;

  transition: fill 250ms $cubic-bezier;
}

.footer-socials__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-white-color;

  margin-bottom: 20px;
}

.footer-socials__list {
  display: flex;
  align-items: center;

  justify-content: center;

  gap: 10px;
}

.footer-socials__icon {
  fill: $primary-white-color;
}

.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50px;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
