.features {
  @include for-size(tablet, desktop) {
    display: flex;

    gap: 30px;
  }
}
.features__icon {
  width: 270px;
}

.features__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $secondary-background-color;
  border-radius: 4px;

  height: 120px;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 354px;
  }

  margin-bottom: 30px;
}

.features__item {
  @include for-size(tablet) {
    width: 354px;
  }

  @include for-size(desktop) {
    width: 270px;
  }
}

.features__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: $primary-text-color;
}
