.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 210px;

  @include for-size(tablet) {
    width: 226px;
  }

  @include for-size(desktop) {
    width: 170px;
  }

  height: 92px;

  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: border 250ms $cubic-bezier;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;

    .client__icon {
      fill: $accent-color;
    }
  }
}

.client__icon {
  fill: $icon-color;
  transition: fill 250ms $cubic-bezier;
}
