.portfolio-btn__list {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;
  margin-bottom: 34px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);

  letter-spacing: 0.03em;

  color: $primary-title-color;

  padding: 6px 22px;

  background-color: $secondary-background-color;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms $cubic-bezier, color 250ms $cubic-bezier,
    box-shadow 250ms $cubic-bezier;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.project__list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}
.project__item {
  width: 370px;
}
.card__link {
  display: block;
  transition: box-shadow 250ms $cubic-bezier;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .card__text,
  &:focus .card__text {
    transform: translateY(0);
  }
}
.card__describe {
  position: relative;
  overflow: hidden;
}

.card__text {
  position: absolute;

  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  padding-right: 24px;
  padding-left: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);

  letter-spacing: 0.03em;

  color: $primary-white-color;

  background: rgba(33, 150, 243, 0.9);

  height: 100%;

  transform: translateY(101%);

  transition: transform 250ms $cubic-bezier;
}
.card__bottom {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  padding: 20px 24px;
}
.card__name {
  color: $primary-title-color;

  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.card__technology {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: $primary-text-color;
}
