.conteiner {
  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__conteiner {
  display: flex;
  align-items: center;
}
