.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

.header__conteiner {
  display: flex;
  align-items: center;

  @include for-size(mobile-only) {
    justify-content: space-between;
  }
}

.footer-conteiner {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include for-size(desktop) {
    align-items: baseline;
    flex-wrap: nowrap;
  }
}
