$primary-title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;

$secondary-background-color: #f5f4fa;

$icon-color: #afb1b8;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

body {
  font-family: 'Roboto', sans-serif;

  color: $primary-title-color;

  background-color: $primary-white-color;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: $primary-title-color;
}

.cursor {
  cursor: pointer;
}
