$primary-title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;

$secondary-background-color: #f5f4fa;

$icon-color: #afb1b8;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$linear-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
